<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--添加需要被容器关联的类型-->
    <bean class="com.wall.myproject4test.spring.ioc4study.model.UserDemo" id="userDemo"/>
</beans>